<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Brave Operations - Lollipop Division - <%= title %></title>
  <meta name="keywords" content="eve, eve corporation, mmo, eve online" />
  <meta name="description" content="Brave Operations - Lollipop Division is the permier small gang PVP divisin within the BRAVE collective" />
  <link rel="stylesheet" href="/stylesheets/nivo-slider.css" type="text/css" media="screen" />
  <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" media="screen" />
  <link rel="icon" href="images/bold.ico" type="image/x-icon">
  <link rel="shortcut icon" href="bundles/boldhome/images/bold.ico" type="image/x-icon">
</head>

<body>
  <script type="text/javascript" src= "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
  </script> 
  <script type="text/javascript" src="/javascripts/jquery.nivo.slider.pack.js">
	  </script> 
  <script type="text/javascript" src="/javascripts/bold.js">
	  </script> 
  <div id="bg2"></div>

  <div id="wrapper1">
    <div id="menu">
      <ul>
      	<% for (var i = 0; i < pages.length; i++) { %>
        <li><a href="<%= pages[i].path %>" <% if(current === pages[i].name || (!current && i == 0)) { %> class="active"<% } %>><%= pages[i].displayname %></a></li>
        <% } %>
      </ul>

      <div class="clear"></div>
    </div>

    <div id="logo">
      <div id="logoimage">
        <a href="<%= path('home') %>"><img src="/images/bold.png" width="128" height="128" alt="Brave Operations - Lollipop Division" /></a>
      </div>
	    <h1><a href="<%= path('home') %>">Brave Operations - Lollipop Division</a></h1>
	    <a href="<%= path('home') %>"><small>Big things come in small packages</small></a>
    </div>

    <div id="content_bg_top"></div>

    <div id="content_box">