<% include header.ejs %>
      <div id="header">
        <div id="wrapper">
          <div id="slider-wrapper">
            <div id="slider" class="nivoSlider">
              <% photos.forEach(function(photo){ %>
              <img src="/images/slideshow/<%=photo.path%>" alt="<%=photo.caption%>" title="#<%=photo.path.replace('.','')%>_caption"/>
              <% }) %>
        	  </div>
        	<% photos.forEach(function(photo){ %>
            	<div id="<%=photo.path.replace('.','')%>_caption" class="nivo-html-caption"><%=photo.caption%></div>
            <% }) %>
          </div>
        </div>
      </div>

      <div id="column_box">
        <div class="column">
          <h2>About us</h2>
          <img src="/images/img1.png" alt="" title="About Us"/>
	  <p>
	  Brave Operations - Lollipop Division (BO-LD) is an EVE Online corporation within the BRAVE collective. 
	  We specialize in small gang PVP content. Currently, we are living in the BRAVE sov null region of Catch.
          </p>
        </div>

        <div class="column">
	  <h2>News</h2><img src="/images/img2.png" alt="News" title="" />
          <p>Redeployed to <a href="http://evemaps.dotlan.net/system/W-MPTH">W-MPTH</a></p>
        </div>

        <div class="column">
          <h2>Have a Question?</h2><img src="/images/img3.png" alt="" title="" />
          <p>Join us in our public recruitment channel "BOLD recruitment" if you have any questions about BO-LD.</p>
        </div>
      </div>
<% include footer.ejs %>